/* common style */
.max-width{
    max-width: 71.25rem;
    margin: 0 auto;
}
/* navbar style */
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom:229px;
    
}

nav ul{
    display: flex;
    gap: 48px;
    align-items: center;
}
.cart{
    width: 22px;
    height: 15px;
    margin-right:10px;
    
}
nav li{
    list-style: none;
    
}
.home{
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}
.shop , .about{
    color: rgba(137, 135, 161, 1);
}


/* banner style */
.banner-container{
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.always{
    font-size: 4.0625rem;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}
.fresh{
   font-size: 4.0625rem; 
   color: rgba(233, 90, 8, 1);
   font-weight: bold;
}
.banner-description{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);

}
.banner-img{
    width: 100%;
}
/* our plants section */
.plant{
    margin-bottom:210px;
}
.plant-content{
    margin: 0 auto;
    text-align: center;
}
.our{
    color: rgba(233, 90, 8, 1);
    font-weight: bold;
    font-size: 3.125rem;
}
.plants{
 color: rgba(0, 0, 0, 1);   
 font-size: 3.125rem;
 font-weight: bold;
}
.plants-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}


 .card img{
    width: 100%;
 }   

.name-price{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.flower-name{
    color: rgba(17, 17, 17, 1);
    font-size: 1.375rem;
    font-weight: 500;
    margin-top: px;
    margin-bottom: 30px;
}
.price{
    color: rgba(17, 17, 17, 1);
    font-size: 1.375rem;
    font-weight: bold;
}

.button{
    display: flex;
}
.add-cart{
    color: rgba(255, 255, 255, 1);
    background-color:rgba(233, 90, 8, 1) ;
    font-weight:600;
      padding-top: 26px;
      padding-bottom: 26px;
    border: none;
    flex: 1;
    
}
/* flower and plants lover */
.plants-lover-container{
    display: flex;
    justify-content: space-between;
    gap: 6px;
}
.pic-store{
    width: 100%;
}
.pic-badge{
    width: 280px;
    height: 280px;
    margin-top:;
    margin-left: ;
    
}
.lover-title{
    font-weight: bold;
    font-size: 3.125rem;
    color:rgba(0, 0, 0, 1) ;
}
.flower-lover li{
   color: rgba(0, 0, 0, 0.5); 
   font-size: 1.375rem;}

/* latest deals */

.latest-deal{
    
    text-align: center;

}

.latest{
    color:rgba(233, 90, 8, 1);
    font-size:3.125rem ;
    font-weight: bold;
}
.deal{
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    font-size: 3.125rem;
}
.deal-description{
    color:rgba(0, 0, 0, 0.5) ;
    font-size: 1.375rem;
}



.bloom-plant{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-area: bloom;
    
    background-image: url("../assets/deal-bloom.png");
    background-repeat: no-repeat;
    width: 367px;
    height: 201px;
    border-radius: 10px;
    
}
.percent{

  font-size: 1.25rem; 
  font-weight: bold;
  color:rgba(255, 255, 255, 1) ;
}
.shop{
    
    font-weight: 600;
    color:rgba(255, 255, 255, 1) ;
  
}
.ana-plant{
     display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-area: ana;
    background-image: url(../assets/deal-ana.png);
    width: 367px;
    height: 197px;
    border-radius: 10; 
    background-color: rgba(200, 200, 200, 1); 
    
}

.zabo-plant{
     display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-area: zabo;
    background-image: url(../assets/deal-zabo.png);
   width: 753px;
    height: 423px;
    border-radius: 10px;
}
.percent-ze{
    font-size:2.5rem ;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}
.shop-ze{
    font-size:1.75rem ;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}
.pic-container{
    display: grid;
    gap: 28px;
    grid-template-areas:
    "bloom zabo zabo"
    "ana zabo zabo"
    ;
}
/* join bunch */
.bunch{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:553px;
    margin-top: 120px;
}
.join-title{
    text-align: center;
    color:rgba(255, 255, 255, 1) ;
    font-size: 3.125rem;
    font-weight: bold;
}
input{
    height: 48px;
    width:634px ;
    border: none;
    padding-left: 10px;
}
.subscribe-btn{
   width: 186px; 
   height: 50px;
   background-color:rgba(233, 90, 8, 1);
   border: none;
   color: rgba(255, 255, 255, 1);
   font-weight: 600;
   margin-left: -4px;
}
/* footer */
.footer{

    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.link-1 li, .link-2 li{
    color: rgba(107, 114, 128, 1);
    margin-bottom: 26px;
}
.icon img{
    margin-left: 24px;
}
.footer-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}
.footer li{
    list-style: none;
    
}
.footer a{
    text-decoration: none;
}






.hide{
    display: none;
}




/* mobile responsive */
@media  screen and (max-width: 576px) {
    .hidden{
        display: none;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .bannner-content{
        margin-left: 10px;
        margin-right: 10px;
    }
    .card-container{
        grid-template-columns: repeat(2,1fr);
    }
     .zabo-plant{
        width: 367px;
   
    }
    .bloom-plant,.ana-plant,.zabo-plant{
        margin-left: 20px;
    }
    .pic-container{
        grid-template-areas:
        "bloom"
        "ana"
        "zabo";
    }
    input{
        width: 218px;
        height: 48px;
        margin-left: 18px;
    }
    .subscribe-btn{
        width:103px ;
        height: 50px;
        margin-right: 18px;
    }
    .bunch{
        width:393px ;
        height: 276px;
    }
    .footer-icon{
        margin-left: 35px;
    }
    .footer{
        flex-direction: column;
    }
   
}



