/* common style */
.max-width{
    max-width: 71.25rem;
    margin: 0 auto;
}
/* navbar style */
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom:229px;
    
}

nav ul{
    display: flex;
    gap: 48px;
    align-items: center;
}
.cart{
    width: 22px;
    height: 15px;
    margin-right:10px;
    
}
nav li{
    list-style: none;
    
}
.home{
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}
.shop , .about{
    color: rgba(137, 135, 161, 1);
}


/* banner style */
.banner-container{
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.always{
    font-size: 4.0625rem;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}
.fresh{
   font-size: 4.0625rem; 
   color: rgba(233, 90, 8, 1);
   font-weight: bold;
}
.banner-description{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);

}
.banner-img{
    width: 100%;
}
/* our plants section */
.plant-content{
    margin: 0 auto;
    text-align: center;
}
.our{
    color: rgba(233, 90, 8, 1);
    font-weight: bold;
    font-size: 3.125rem;
}
.plants{
 color: rgba(0, 0, 0, 1);   
 font-size: 3.125rem;
 font-weight: bold;
}
.plants-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}


 .card img{
    width: 100%;
 }   

.name-price{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.flower-name{
    color: rgba(17, 17, 17, 1);
    font-size: 1.375rem;
    font-weight: 500;
    margin-top: px;
    margin-bottom: 30px;
}
.price{
    color: rgba(17, 17, 17, 1);
    font-size: 1.375rem;
    font-weight: bold;
}

.button{
    display: flex;
}
.add-cart{
    color: rgba(255, 255, 255, 1);
    background-color:rgba(233, 90, 8, 1) ;
    font-weight:600;
      padding-top: 26px;
      padding-bottom: 26px;
    border: none;
    flex: 1;
    
}





/* mobile responsive */
@media  screen and (max-width: 576px) {
    .hidden{
        display: none;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .bannner-content{
        margin-left: 10px;
        margin-right: 10px;
    }
    .card-container{
        grid-template-columns: repeat(2,1fr);
    }
}



